<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YelpCamp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="favicon" href="https://res.cloudinary.com/rgreenstreet/image/upload/v1578337252/favicon_bxbgks.png" type="image/x-icon/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/75e02839f8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    </head>
    <body>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="/">YelpCamp</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				  <a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>" href="/campgrounds">Campgrounds<span class="sr-only">(current)</span></a>
			  </li>
			<% if(!currentUser){ %>
				<li class="nav-item">
					<a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login" id="login_button">Log In</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register" id="signup_button">Sign Up</a>
				</li>
			<% } else { %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Notifications <span class="badge"><%= notifications.length %></span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="/notifications">View Past Notifications</a>
					  <% notifications.forEach (notification => { %>
						<a class="dropdown-item" href="/notifications/<%= notification.id %>">
							<%= notification.username %> created a new campground!
						</a>
					  <% }); %>
					</div>
				  </li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/profile/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="/logout" id="logout_button">Log Out</a>
				</li>
			<% }; %>
			<form name="searchCampgrounds" action="/campgrounds" method="get" class="form-inline">
				<div class="input-group">
					<input class="form-control mr-sm-2" type="search" placeholder="Search Campgrounds" aria-label="Search" name="searchTerm">
					<button class="btn btn-outline-light my-2 my-sm-0 input-group-append" type="submit">Search</button>
				</div>
			</form>
			</ul>
		  </div>
		</nav>
		
		<div class="container mt-2">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if (success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					 <%= success %>
				</div>
			<% } %>
		</div>
				