<%- include("../partials/header.ejs") %>

<div class="container">
	<h1 class="display-4 text-center">Edit Comment</h1>
		<div class="row">
		<div id="" style="width:30%; margin: 25px auto;">
			<form action="/campgrounds/<%= campground_id %>/comments/<%= foundComment.id %>?_method=put" method="post">
				<div class="form-group">
					<input class="form-control" type="text" name="updatedComment[text]" value="<%= foundComment.text %>" required="true" autofocus="autofocus">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
					Submit
					</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>
	</div>
</div>


<%- include("../partials/footer.ejs") %>