<%- include("../partials/header.ejs") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1 class="">
				Campgrounds
			</h1>
			<p>
				View our handpicked campgrounds from across the globe!
			</p>
			<p><a href="campgrounds/new" class="btn btn-primary btn-lg">Add A New Campground</a></p>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-12">
			<h3>
				Our Most Popular Campgrounds
			</h3>
		</div>
	</div>
	<div class="card-columns">
		<% campgrounds.forEach(function(campground){ %>
			<!-- <div class="campground col-12 col-sm-6 col-md-3 text-center"> -->
				<div class="card">
					<img src="<%= campground["image"] %>" width="200px" class="card-img-top img-fluid">
					<div class="card-block text-center">
						<h4 class="card-title"><%= campground["name"] %></h4>
						<p>
							<a href="/campgrounds/<%= campground["_id"] %>" class="btn btn-primary">More Info</a>
						</p>
					</div>
				</div>
			<!-- </div> -->
		<% }); %>
	</div>
</div>

	
<%- include("../partials/footer.ejs") %>